//
//  Configuration.xcconfig
//  VDrop
//
//  Created by Tom Hartnett on 2/17/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

DEVELOPMENT_TEAM = YOUR_TEAM_ID // Replace with your Team ID from Apple Developer Portal
MACOSX_DEPLOYMENT_TARGET = 14.2
PRODUCT_BUNDLE_IDENTIFIER = com.example.VDrop // Update with your desired bundle ID
